<!DOCTYPE html>
<html>
<head>
    <title>Hackbright Helvetica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>What do you want to do?</h1>
    <ul>
        <li><a href="/find_student">Find a student by github</a></li>
        <li><a href="/add_student">Add a new student to the database</a></li>
        <li><a href="/add_project">Add a new project to the database</a></li>
        <li><a href="/add_grade">Add a new grade to the database</a></li>
    </ul>
</body>
</html>